/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: #fff;
    border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
    height: 100%;
    background-color: cadetblue;
    /*background-image: url("../images/carribean.jpg");
    /* Center and scale the image nicely */
    /*background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
}

body {
    color: #fff;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}
#tripName {
    background-color: lightblue;
}
#tripHeader {
    color: white;
    margin: auto;
    font-size: 48pt;
}

p {
    margin-top: 5px;
    color: black;
}
.weatherPic {
    border-radius: 8px;
}


h2{

    font-size: 18pt;
}

.infoLabel{

    color: black;
    text-align: center;
    align:center;
    position: absolute;
    bottom:0;
}
#messageBoard{
    background-color: white;
    border-radius: 5px;
}

.sentP{
    float:left;
    text-align: left;
    margin: 3px 3px 3px 3px;
}

.attending{
    padding:3px;
}

.receivedP{

    float: right;
    text-align: right;
    margin: 3px 3px 3px 3px;
}

.userSent{
    padding: 5px;
    float: left;

    background-color: blue;
    color: white;
    border-radius: 5px;

}

.userReceived{
    padding: 5px;
    float: right;

    background-color: red;
    color: white;
    border-radius: 5px;

}

#attendees{
    position: relative;
    text-align: center;
}

.container {
    background-color: white;
    opacity: .9;
}


